In [52]:
from sqlalchemy import create_engine
import pandas as pd

# Connect to database and retrieve data using SQLAlchemy
engine = create_engine('mysql+pymysql://root:@localhost/moodle')

In [38]:
# Define SQL query to retrieve data from mdl_user table
sql_query = 'SELECT * FROM mdl_user'

# Load data into a pandas DataFrame
df_user = pd.read_sql_query(sql_query, engine)

# Convert lastaccess column to datetime format
df_user['lastaccess'] = pd.to_datetime(df_user['lastaccess'], unit='s')

# Add new columns for year, month, and day
df_user['year'] = df_user['lastaccess'].dt.year
df_user['month'] = df_user['lastaccess'].dt.month
df_user['day'] = df_user['lastaccess'].dt.day

# Drop unnecessary columns
df_user = df_user.drop(['password', 'idnumber', 'trustbitmask', 'lastnamephonetic', 'firstnamephonetic', 'middlename', 'alternatename', 'moodlenetprofile'], axis=1)

### handling null or empty

In [39]:
df_enrol['enrolstartdate'].fillna(pd.to_datetime('now'), inplace=True)

C:\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:2224: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

In [40]:
# Define SQL queries to retrieve data from tables
sql_query_course = 'SELECT * FROM mdl_course'
sql_query_user_enrolments = 'SELECT * FROM mdl_user_enrolments'
sql_query_enrol = 'SELECT * FROM mdl_enrol'
sql_query_logstore_standard_log = 'SELECT * FROM mdl_logstore_standard_log'
sql_query_badge_criteria_met = 'SELECT * FROM mdl_badge_criteria_met'
sql_query_badge_criteria = 'SELECT * FROM mdl_badge_criteria'
sql_query_badge = 'SELECT * FROM mdl_badge'

# Load data into pandas DataFrames
df_course = pd.read_sql_query(sql_query_course, engine)
df_user_enrolments = pd.read_sql_query(sql_query_user_enrolments, engine)
df_enrol = pd.read_sql_query(sql_query_enrol, engine)
df_logstore_standard_log = pd.read_sql_query(sql_query_logstore_standard_log, engine)
df_badge_criteria_met = pd.read_sql_query(sql_query_badge_criteria_met, engine)
df_badge_criteria = pd.read_sql_query(sql_query_badge_criteria, engine)
df_badge = pd.read_sql_query(sql_query_badge, engine)

# Drop unnecessary columns from DataFrames
# df_course = df_course.drop(['requested', 'cacherev'], axis=1)
# df_user_enrolments = df_user_enrolments.drop(['timeend', 'timemodified'], axis=1)
# df_enrol = df_enrol.drop(['timemodified', 'timecreated'], axis=1)
# df_logstore_standard_log = df_logstore_standard_log.drop(['id', 'component', 'action', 'target', 'objecttable', 'objectid', 'crud'], axis=1)
# df_badge_criteria_met = df_badge_criteria_met.drop(['evidence', 'nonce'], axis=1)
# df_badge_criteria = df_badge_criteria.drop(['issuerurl', 'issuername', 'issuercontact'], axis=1)
# df_badge = df_badge.drop(['expiredate', 'message', 'issuername', 'issuerurl', 'issuercontact'], axis=1)

# Convert columns to datetime format and add year, month, and day columns where necessary
df_course['timecreated'] = pd.to_datetime(df_course['timecreated'], unit='s')
df_course['year'] = df_course['timecreated'].dt.year
df_course['month'] = df_course['timecreated'].dt.month
df_course['day'] = df_course['timecreated'].dt.day

## ETL repeat

In [41]:
df_badge['timecreated'] = pd.to_datetime(df_badge['timecreated'], unit='s')
df_badge['created_year'] = df_badge['timecreated'].dt.year
df_badge['created_month'] = df_badge['timecreated'].dt.month
df_badge['created_day'] = df_badge['timecreated'].dt.day
df_badge['timemodified'] = pd.to_datetime(df_badge['timemodified'], unit='s')
df_badge['modified_year'] = df_badge['timemodified'].dt.year
df_badge['modified_month'] = df_badge['timemodified'].dt.month
df_badge['modified_day'] = df_badge['timemodified'].dt.day

In [42]:
df_badge_criteria_met['datemet'] = pd.to_datetime(df_badge_criteria_met['datemet'], unit='s')
df_badge_criteria_met['year'] = df_badge_criteria_met['datemet'].dt.year
df_badge_criteria_met['month'] = df_badge_criteria_met['datemet'].dt.month
df_badge_criteria_met['day'] = df_badge_criteria_met['datemet'].dt.day

In [43]:
df_logstore_standard_log['timecreated'] = pd.to_datetime(df_logstore_standard_log['timecreated'], unit='s')
df_logstore_standard_log['year'] = df_logstore_standard_log['timecreated'].dt.year
df_logstore_standard_log['month'] = df_logstore_standard_log['timecreated'].dt.month
df_logstore_standard_log['day'] = df_logstore_standard_log['timecreated'].dt.day

In [44]:
df_user_enrolments['timestart'] = pd.to_datetime(df_user_enrolments['timestart'], unit='s')
df_user_enrolments['year'] = df_user_enrolments['timestart'].dt.year
df_user_enrolments['month'] = df_user_enrolments['timestart'].dt.month
df_user_enrolments['day'] = df_user_enrolments['timestart'].dt.day

In [45]:
df_enrol['timecreated'] = pd.to_datetime(df_enrol['timecreated'], unit='s')
df_enrol['year'] = df_enrol['timecreated'].dt.year
df_enrol['month'] = df_enrol['timecreated'].dt.month
df_enrol['day'] = df_enrol['timecreated'].dt.day

## Connect and write to data warehouse

In [46]:
# Connect to 'cassmile' database using SQLAlchemy
engine2 = create_engine('mysql+pymysql://root:@localhost/cassmile')

# Load DataFrames into tables using SQLAlchemy
df_user.to_sql('user', con=engine2, if_exists='replace', index=False)
df_course.to_sql('course', con=engine2, if_exists='replace', index=False)
df_user_enrolments.to_sql('user_enrolments', con=engine2, if_exists='replace', index=False)
df_enrol.to_sql('enrol', con=engine2, if_exists='replace', index=False)
df_logstore_standard_log.to_sql('logstore_standard_log', con=engine2, if_exists='replace', index=False)
df_badge_criteria_met.to_sql('badge_criteria_met', con=engine2, if_exists='replace', index=False)
df_badge_criteria.to_sql('badge_criteria', con=engine2, if_exists='replace', index=False)
df_badge.to_sql('badge', con=engine2, if_exists='replace', index=False)

25

## tables related to dashboard 2 onwards

In [47]:
sql_course_module = "select * from mdl_course_modules"
sql_modules = "select * from mdl_modules"
sql_badge_issued = "select * from mdl_badge_issued"
sql_customcert = "select * from mdl_customcert"
sql_customcert_issues = "select * from mdl_customcert_issues"

# Load data into pandas DataFrames
df_course_module = pd.read_sql_query(sql_query_course, engine)
df_modules = pd.read_sql_query(sql_modules, engine)
df_badge_issued = pd.read_sql_query(sql_badge_issued, engine)
df_customcert = pd.read_sql_query(sql_customcert, engine)
df_customcert_issues = pd.read_sql_query(sql_customcert_issues, engine)

In [48]:
df_badge_issued['dateissued'] = pd.to_datetime(df_badge_issued['dateissued'], unit='s')
df_badge_issued['dateexpire'] = pd.to_datetime(df_badge_issued['dateexpire'], unit='s')
df_badge_issued['issuedyear'] = df_badge_issued['dateissued'].dt.year
df_badge_issued['issuedmonth'] = df_badge_issued['dateissued'].dt.month
df_badge_issued['issuedday'] = df_badge_issued['dateissued'].dt.day
df_badge_issued['expireyear'] = df_badge_issued['dateexpire'].dt.year
df_badge_issued['expiremonth'] = df_badge_issued['dateexpire'].dt.month
df_badge_issued['expireday'] = df_badge_issued['dateexpire'].dt.day

df_customcert['timecreated'] = pd.to_datetime(df_customcert['timecreated'], unit='s')
df_customcert['year'] = df_customcert['timecreated'].dt.year
df_customcert['month'] = df_customcert['timecreated'].dt.month
df_customcert['day'] = df_customcert['timecreated'].dt.day

df_customcert_issues['timecreated'] = pd.to_datetime(df_customcert_issues['timecreated'], unit='s')
df_customcert_issues['year'] = df_customcert_issues['timecreated'].dt.year
df_customcert_issues['month'] = df_customcert_issues['timecreated'].dt.month
df_customcert_issues['day'] = df_customcert_issues['timecreated'].dt.day

In [50]:
df_badge_issued.to_sql('badge_issued', con=engine2, if_exists='replace', index=False)
df_customcert.to_sql('customcert', con=engine2, if_exists='replace', index=False)
df_customcert_issues.to_sql('customcert_issues', con=engine2, if_exists='replace', index=False)

38

### dig_further, reflect and watch

In [53]:
sql_page = "select * from mdl_page"
sql_quiz = "select * from mdl_quiz"
sql_quizgrades = "select * from mdl_quiz_grades"
sql_url = "select * from mdl_url"

df_page = pd.read_sql_query(sql_page, engine)
df_quiz = pd.read_sql_query(sql_quiz, engine)
df_quizgrades = pd.read_sql_query(sql_quizgrades, engine)
df_url = pd.read_sql_query(sql_url, engine)

In [54]:
df_page['timemodified'] = pd.to_datetime(df_page['timemodified'], unit='s')
df_page['year'] = df_page['timemodified'].dt.year
df_page['month'] = df_page['timemodified'].dt.month
df_page['day'] = df_page['timemodified'].dt.day

df_quiz['timecreated'] = pd.to_datetime(df_quiz['timecreated'], unit='s')
df_quiz['created_year'] = df_quiz['timecreated'].dt.year
df_quiz['created_month'] = df_quiz['timecreated'].dt.month
df_quiz['created_day'] = df_quiz['timecreated'].dt.day
df_quiz['timemodified'] = pd.to_datetime(df_quiz['timemodified'], unit='s')
df_quiz['modified_year'] = df_quiz['timemodified'].dt.year
df_quiz['modified_month'] = df_quiz['timemodified'].dt.month
df_quiz['modified_day'] = df_quiz['timemodified'].dt.day

df_quizgrades['timemodified'] = pd.to_datetime(df_quizgrades['timemodified'], unit='s')
df_quizgrades['year'] = df_quizgrades['timemodified'].dt.year
df_quizgrades['month'] = df_quizgrades['timemodified'].dt.month
df_quizgrades['day'] = df_quizgrades['timemodified'].dt.day

df_url['timemodified'] = pd.to_datetime(df_url['timemodified'], unit='s')
df_url['year'] = df_url['timemodified'].dt.year
df_url['month'] = df_url['timemodified'].dt.month
df_url['day'] = df_url['timemodified'].dt.day

In [56]:
# Connect to 'cassmile' database using SQLAlchemy
engine2 = create_engine('mysql+pymysql://root:@localhost/cassmile')

In [57]:
df_page.to_sql('page', con=engine2, if_exists='replace', index=False)
df_quiz.to_sql('quiz', con=engine2, if_exists='replace', index=False)
df_quizgrades.to_sql('quiz_grades', con=engine2, if_exists='replace', index=False)
df_url.to_sql('url', con=engine2, if_exists='replace', index=False)

31